.timeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    .time-item {
        padding: 0 20px;
        width: 300px;
        box-sizing: border-box;
        .picBox {
            position: relative;
            margin-bottom: 45px;
            text-align: center;
            img {
                width: 80%;
            }
            .num {
                position: absolute;
                left: 15px;
                bottom: -45px;
                font-size: 5rem;
                color: $mainColor;
            }
        }
    }
    h2{
        margin: 0;
        padding-top: 5px;
        text-align: center;
        font-size: 1.8rem;
    }
    h4 {
        margin-top: 10px;
        margin-bottom: 20px;
        color: #f1f2fe;
        text-align: center;
        font-size: 1.2rem;
    }
    p {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
@media screen and (max-width: 1280px) {
    .timeBox {
        width: 1000px;
        .time-item {
            padding: 0 10px;
            width: 250px;
            .picBox {
                margin-bottom: 35px;
                .num {
                    left: 20px;
                    bottom: -35px;
                    font-size: 4rem;
                }
            }
        }
        h2{
            font-size: 1.6rem;
        }
        h4 {
            font-size: 1.1rem;
        }
        p {
            font-size: 0.85rem;
        }
    }
}
@media screen and (max-width: 1024px) {
    .timeBox {
        width: 600px;
        .time-item {
            margin-bottom: 50px;
            padding: 0 35px;
            width: 300px;
        }
    }
}
@media screen and (max-width: 768px) {
    .timeBox {
        width: 560px;
        .time-item {
            padding: 0 20px;
            width: 280px;
        }
    }
}
@media screen and (max-width: 580px) {
    .timeBox {
        width: 280px;
        .time-item {
            padding: 0 20px;
            width: 280px;
        }
    }
}
@media screen and (max-width: 480px) {
    .timeBox {
        .time-item {
            .picBox {
                margin-bottom: 30px;
                img {
                    width: 60%;
                }
                .num {
                    left: 40px;
                    bottom: -30px;
                    font-size: 3.5rem;
                }
            }
        }
    }
}