.slick {
    width: 100%;
    overflow: hidden;
    a {
        outline: none;
    }
    .banner_img {
        width: 100%;
    }
    .arrow-btn{
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 100%;    
        transition: 0.3s;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        &.btn-prev{
            left: -80px;
        }
        &.btn-next{
            right: -80px;
        }
    }
    @media screen and (min-width: 769px){
        &:hover {
            .arrow-btn{
                &.btn-prev{
                    left: 10px;
                }
                &.btn-next{
                    right: 10px;
                }
            }
        }
    }
    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 5px 0;
        li {
            margin: 0 0.25rem;
            &.slick-active button {
                background-color: #13afc4;
            }
        }
        button {
            display: block;
            padding: 0;
            width: 30px;
            height: 5px;
            border: none;
            border-radius: 10px;
            outline: none;
            text-indent: -9999px;
            background-color: #fff;
        }
    }
}
